<%= form_with(model: map, local: true) do |form| %>
  <% if map.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(map.errors.count, "error") %> prohibited this map from being saved:</h2>

      <ul>
      <% map.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :location_of_building %>
    <%= form.text_field :location_of_building %>
  </div>

  <div class="field">
    <%= form.label :number_of_floors %>
    <%= form.number_field :number_of_floors %>
  </div>

  <div class="field">
    <%= form.label :client_name %>
    <%= form.text_field :client_name %>
  </div>

  <div class="field">
    <%= form.label :number_of_batteries %>
    <%= form.number_field :number_of_batteries %>
  </div>

  <div class="field">
    <%= form.label :number_of_columns %>
    <%= form.number_field :number_of_columns %>
  </div>

  <div class="field">
    <%= form.label :number_of_elevators %>
    <%= form.number_field :number_of_elevators %>
  </div>

  <div class="field">
    <%= form.label :full_name_of_technical_contact %>
    <%= form.text_field :full_name_of_technical_contact %>
  </div>

  <div class="field">
    <%= form.label :long %>
    <%= form.text_field :long %>
  </div>

  <div class="field">
    <%= form.label :lat %>
    <%= form.text_field :lat %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
